* {
    box-sizing: border-box;
}

header,
nav,
article,
aside,
footer {
    margin-bottom: 2.5%;
    padding: 5%;
    border: 1px solid lightgray;
    text-align: center;
}
header,
footer {
    background: #efefef;
}
nav {
    padding: 0;
}
main {
    /* you'll add some styles here shortly */
    display: flex; /* add this line */
}
article {
    /* you'll add some styles here shortly */
    flex: 3; /* add this line */
}
aside {
    background: #ddd;
    flex: 1; /* add this line */
}

.planets {
    margin: 0;
    padding: 0;
    /* add these lines */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.planet {
    list-style: none;
    border: 2px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-item {
    flex: 1;
}

.navigation-link {
    background: orange;
    color: white;
    display: block;
    padding: 20px;
}

.navigation-link:hover {
    background: green;
    color: yellow;
    text-decoration: none;
}