h2 {
    margin-bottom: 50px;
}

/* some default styles for every paragraph - may be overridden below */
p {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    text-align: center;

}

/* borders */

.border-1 {
    border-top-color: blue;
    border-right-color: red;
    border-bottom-color: green;
    border-left-color: orange;

    border-style: dashed;
    border-width: 2px;
    border-radius: 30px;
}
.border-2 {
    border-style: groove;
    border-width: 5px
}
.border-3 {
}


/* border-radius */

.border-radius-1 {
}
.border-radius-2 {
}
.border-radius-3 {
}

/* margin */

.margin-1 {
}
.margin-2 {
}
.margin-3 {
}

/* padding */

.padding-1 {
    padding: 50px
}
.padding-2 {
}
.padding-3 {
}

/* centre-aligned content */

.centre {
}